.sidebar{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.addEventForm input, .alert, textarea{
    max-width: 400px;
}

#editEventForm input, .alert, textarea{
    max-width: 400px;
}

.page-flex{
    margin-top: 45px;
}

.updateEventForm a{
    color: blue;
    margin-left: 10px ;
}

body{
    color: white;
}

.form-label{
    color: white;
}

.main-title{
    color: white;
}
